ekf_filter_node:
  ros__parameters:
    use_sim_time: true
    frequency: 30.0
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom
    publish_tf: true
    odom0: /odom
    odom0_config: [true, true, false,
                   false, false, true,
                   true, true, false,
                   false, false, true,
                   false, false, false]
